/******************/
/* styles banière */
/******************/

#baniere {
  min-height: 200px;
}

.img_baniere {
  width: 900px;
  height: 200px;
  position:absolute;
}

.visible {
  opacity: 1;
}

.cachee {
  opacity: 0;
}
