/******************/
/* styles banière */
/******************/

#baniere {
  min-height: 200px;
}

.img_baniere {
  width: 900px;
  height: 200px;
display: block;
margin-left: auto;
    margin-right: auto;
}